body {
  background-color: blue;
}

img {
	height: 200px;
  width: 100;
}
#button1 {
	font-family: "Times New Roman";
}

#button2 {
	font-family: "Book Antiqua";
}
footer {
	position: fixed;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
	
}